#banner
	.banner_content
		%h1 Notify Me
		%p Your Online Notebook.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.qoute "You just gotta try it to see!"
		%p.name - Keynent Talip

#callouts
	.callout_inner 
		.wrapper
			.callout
				%i.fa.fa-bolt
				%h2 An Idea Comes
				
			.callout
				%i.fa.fa-pencil
				%h2 Write it down
				
			.callout
				%i.fa.fa-pencil-square-o
				%h2 And write it down 
				

#bottom_cta
	.wrapper
		%h2 What are you waiting for?
		%p Save that thought now before another one pops out!
		%button= link_to "Sign Up", new_user_registration_path

%footer
	%p &copy; Mackenzie Child